* {
    margin: 0;
    font-family: "Gothic A1", sans-serif;
}

/* bron dlo opdracht: codepen states-kleurtjes met has en lightdark uitwerking*/
:root {

    color-scheme: light dark;

    --achtergrondKleur:white;
    --achtergrondKleur2:#F7F7F7;
    --tekstKleur:black;
    --achtergrondKnop:#F7B100;
    --input:white;

}

html:has([value="light"]:checked){
    color-scheme: light;
    --achtergrondKleur2:white;
    --achtergrondKnop:#F7B100;
    --tekstKleur: black;
}

html:has([value="dark"]:checked){
    color-scheme: dark;
    --achtergrondKleur2:#F7B100;
    --achtergrondKnop: white;
    --tekstKleur: white;
    --input:white
}

*, *::before, *::after {
    box-sizing: border-box;
}

 input {
    padding: 3em;

}

.checkBox form {
    display: flex;
    justify-content: center;
    background-color: var(--achtergrondKnop);
    margin-top: -2em;
    margin-bottom: 4em;
    margin-left: 4em;
    margin-right:4em ;
    padding: 1em 1em;
    
}

p {
    font-weight: 100;
    font-size: 1.3em;
    margin-left: 1.3em;
    margin-right: 1.3em;
    text-align: center;
    color: var(--tekstKleur);

}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    color: var(--tekstKleur);
}

a {
    color: black;
    background-color: var(--achtergrondKnop);
    text-decoration: none;
    padding: 1em 1em 1em 1em ;
    font-weight: 900;
    font-size: 0.8em;

    display: flex;
    justify-content: center;
}

nav a {
    background: none;
}

a svg  {
    padding-left: 0.4em;

}

section a img {
    width: 10%;
}

.icoon {
    fill: black;
    transition: transform 00ms, fill 00ms;
}

.icoon.geklikt {
    fill: white;
    transform: scale(1.2);
}

section a {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

/* Bron: Danny, wertke ooit staat nu uit */
/* 
.witteBalk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    background-color: var(--achtergrondKleur);
    height: 5vh;
}

.witteBalk a {
    background-color: var(--achtergrondKleur);
    font-weight: 100;
    font-size: 1em;
}

.witteBalk img {
    width: 4em;
} */

header p {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding-top: 0.7em;

    font-weight: 300;
    letter-spacing: -0.03em;
    margin-left: 0;
    margin-right: 5em;

    font-size: 1em;
    background-color: black;
    color: white;
}

header nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 10lvh;
    z-index: 1;
}

header ul {
    list-style-type: none;
    display: flex;
    padding-right: 7em;
    
    background-color: var(--achtergrondKnop)
   
}

header li img:nth-child(1) {
    max-width: 6.5em;
    margin-left: -2.5em;
}

header li:nth-of-type(2){
    padding-left: 8em;
    padding-top: 1em;
    margin-right: -3em;
}

header li:nth-of-type(3){
    margin-left: 1em;
    margin-top: 0.5em;
    margin-right: -1.5em;
}

header li:nth-of-type(4){
    padding-top: 1em;
}

/* hulp gehad van Danny en ali (studentassistent) */
.headerBanner {
    background-image: url(https://www.kilokilovintage.nl/wp-content/uploads/2020/11/Header-team-tiny-scaled.jpg);
    background-size: cover;
    height: 28vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 8em;

}

.headerBanner h1 {
    line-height: 1.4;
    margin: 1.3em;
    color: white;

}

.carousel img {
    animation-name: carouselLogo;
    animation-duration:18s; 
    
    background-color: white;
    animation-iteration-count: infinite;
    
}

/* bron danny voorbeeld in de les*/

.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
}

@keyframes carouselLogo {
    0% {
        transform: translateX(0em);
    }

    20% {
        transform: translateX(-12em);
    }

    40% {
        transform: translateX(-24em);
    }

    60% {
        transform: translateX(-36em);
    }

    80% {
        transform: translateX(-48em);
    }

    100% {
        transform: translateX(-60em);
    }
}

.carousel img {
    width: 12em;
    padding: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
}


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.kop1Home h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.kop1Home {
    background-color: var(--achtergrondKleur2);
    padding-left: 1.3em;
    padding-right: 1.3em;

    padding-bottom: 6em;
    padding-top: 5em;

}

.kop1Home p {
    line-height: 1.5;
    margin-bottom: 1em;
    font-size: 1.3em;
    background-color: var(--achtergrondKleur2);
}

.kop1Home a {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: var(--achtergrondKleur2);
}


.kop2Home h2 {
    margin-top: 1em;
    margin-left: 1.3em;
    text-align: left;

}
 
/* bron ali studentasistent*/ 

.kop2Home div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
    margin-left: 2.8em;
    margin-top: 3em;
}

div img:nth-of-type(1)
{
    grid-column: 1 / 3 ;
    grid-row: 1;
}
div img:nth-of-type(2)
{
    grid-column: 1 / 4;
    grid-row: 2;
}

div img:nth-of-type(3)
{
    grid-column: 1 / 3;
    grid-row: 3;
}

.kop3Home h2 {
    margin-top: 3em;
    margin-left: 1.3em;
    font-size: 1.8em;
    text-align: left;
    margin-bottom: 2em;
}

.kop3Home {
    margin-bottom: 2em;
    margin-left: 0.7em;
}

.kop3Home p:nth-of-type(1) {
    font-weight: 900;
    font-size: 1em;
    text-align: left;
}

.kop3Home p:nth-of-type(2){
    color: #F7B100;
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    margin-top: 0.5em;
}

.kop3Home img:nth-of-type(1) {
    max-width: 23em;
    display: flex;

}

.kop3Home img:nth-of-type(2) {
    max-width: 23em;
    margin-top: -23em;
    opacity: 0;
}

.kop4Events {
    background-color: var(--achtergrondKleur2);
    padding-bottom: 3em;

}

.kop4Events h2 {
    padding-top: 1.5em;

    display: flex;
    justify-content: center;
}

.kop4Events p {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin: 1.3em;
}

.kop4Events a {
    margin: 8em 8em;
    margin-bottom: 2em;
    margin-top: 5em;
}


.kopWinkels h2 {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
}

.kopWinkels p:nth-of-type(1),
.kopWinkels p:nth-of-type(2) {
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 1.5em;
    margin: 1.3em;
}

.winkels h3 {
    font-size: 1.5em;
    word-spacing: -0.1em;
    margin-left: 1.1em;
    margin-bottom: -0.5em;
    text-align: left;
}

.winkels p {
    text-align: left;
    margin-left: 1.2em;
    margin-bottom: -1em;
    margin-top: -0.3em;

}

.winkels a {
    margin-left: 1.8em;
    margin-right: 18em;
    margin-bottom: 1em;

    padding: 1.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;

    text-decoration: none;
    font-size: 0.8em;
    color: var(--achtergrondKleur);
    background-color: black;
    
}

.winkels img {
    max-width: 100%;
}

.winkels a img {
    max-width: 1em;
    padding-left: 0.8em;

}

.nijmegenWinkel {
    background-color: #CEC5F1;
    margin: 1.2em;
    display: grid;
    gap: 2em;
}

.denhaagWinkel {
    background-color: #31F869;
    margin: 1.2em;
    display: grid;
    gap: 2em;
}

.utrechtWinkel {
    background-color: #E8D86A;
    margin: 1.2em;
    display: grid;
    gap: 2em;
}

.tilburgWinkel {
    background-color: #F9E7F0;
    margin: 1.2em;
    display: grid;
    gap: 2em;
}

.bredaWinkel {
    background-color: #B0FEE6;
    margin: 1.2em;
    display: grid;
    gap: 2em;
}

.alleWinkels {
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 8em;
}

.formulier {
    background-color: #F7F7F7;
}

.formulier h2 {
    word-spacing: -0.1em;
    margin-left: 1.3em;
    margin-right: 1.3em;
    padding-top: 3em;
    text-align: center;
    color: black;

}

.formulier p {
    margin: 1.8em;
    word-spacing: -0.06em;
    color: black;
    
}

form {
    display: grid;
    background-color: var(--tekstKleur);
    padding-top: 1.5em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 1.8em;
    margin-right: 1.8em;
    margin-bottom: 8em;
    margin-top: 3em;
    gap: 1em;
    background-color: black;
    
}

input {
    padding-left: 1em;
    padding-right: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

input::placeholder {
    color: black;
}

form button {
    color: black;
    background-color: var(--achtergrondKnop);
    text-decoration: none;
    font-weight: 900;
    font-size: 1em;

    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: none;
}


/* https://chatgpt.com/c/66f59f6f-e034-8012-9cdc-fe5267bc7cd3
https://www.w3schools.com/howto/howto_js_popup_form.asp*/

#popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 10%;
    bottom: 50%;
    width: 20em;
    height: 20em;
    padding: 2em;
    background-color: white;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.close-btn {
    background-color: #F7B100;
    color: black;
    border: none;
    padding: 1em 3em;
    display: block;
    font-weight: 900;
    margin-left: 4.8em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.formulier label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

footer {
    background-color: var(--achtergrondKnop);
}

footer h4 {
    font-weight: 900;
    font-size: 1.4em;
    margin-left: 1.3em;
    padding-top: 2em;
    color: var(--tekstKleur);
    color: black;
}

footer p {
    font-weight: 100;
    margin-left: 1.8em;
    margin-top: 0.5em;
    margin-right: 1.3em;
    text-align: left;
    color: black;
}

footer li {
    list-style-type: none;
}

.socialLogo img {
    max-width: 2em;
    padding: 0.3em;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: -0.5em;
}

.socialLogo img:nth-of-type(1) {
    margin-left: 1.6em;
    margin-top: 0.5em;
}

.onderkantFooter img {
    padding-top: 2em;
    max-width: 8em;
}

.onderkantFooter p {
    background-color: black;
    color: white;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    margin: 2em 0em;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer a {
    text-decoration: none;
    color: black;

    display: grid;
    justify-content: left;
    font-weight: 100;
    margin-left: -0.5em;
    font-size: 1.3em;
    padding: 0.3em;
}

.betaalLogo img {
    max-width: 12%;
    padding: 0.2em;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.betaalLogo img:nth-of-type(1) {
    margin-left: 1.9em;
    margin-top: 0.5em;
}

.betaalLogo img:nth-of-type(3) {
    padding-bottom: 1.3em;
}


footer img {
    width: 10em;
    margin-left: 1.9em;
    margin-top: 4em;
    margin-bottom: 2em;
}

footer p:nth-of-type(5) {
    background-color: black;
    color: white;
    font-size: 0.8em;
    margin: 0;

    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.introWinkels h1 {
    margin-top: 6em;
    display: flex;
    justify-content: center;
}

.introWinkels p {
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
}

.introWinkels p:nth-of-type(1) {
    margin-top: 2em;
    margin-bottom: 1em;
}

.introWinkels p:nth-of-type(2) {
    margin-bottom: 5em;
}

.eventButton p {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 8em;
    margin-bottom: 1em;
}

.eventButton a {
    margin-left: 9em;
    margin-right: 9em;
    margin-bottom: 12em;
    background-color: var(--achtergrondKnop);
    color: var(--tekstKleur);
}

.meerdanVintage h2 {
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.meerdanVintage p {
    font-size: 1.5em;
    margin-left: 1.5em;
    margin-right: 1em;
    margin-top: 1.5em;
    margin-bottom: 7em;
}

.meerdanVintage a {
    margin-left: 11em;
    margin-right: 11em;
    margin-bottom: 2em;
}

.meerdanVintage a:nth-of-type(4) {
    margin: 0 12em 12em 12em;
}

/* Bron: Danny */
.visible {
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: forwards; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    

    100% {
        opacity: 1;
    }
}

/* bron dlo opdracht pen code js-3-stap- oefening 3-uitwerking wishlist*/
.wishlist {
    background-color: var(--achtergrondKnop);
    list-style-type: none;
    margin-left: -2.5em;
}

.wishlist li{
    margin-top: 3em;
    padding: 0em 2em;
    list-style-type: none;
    display: flex;
}

li.liked button.like {  
  color:red;
  grid-column-start:2;
  grid-row:1/3;
  justify-self:end;
  align-self:start;
  aspect-ratio:1/1;  
  
  padding: 0.5em 1em;
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  
  background-color: var(--achtergrondKnop);
  border-width: 0;
}

.like {
   color: black;
}

.wishlist li:nth-of-type(3){
    padding-bottom: 7em;
}

.wishlist li button {
grid-column-start:2;
  grid-row:1/3;
  justify-self:end;
  align-self:start;
  aspect-ratio:1/1;  
  
  padding: 0.5em 1em;
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  
  background-color: var(--achtergrondKnop);
  border-width: 0;
}

.uitgelichtShirt {
    background-color: var(--achtergrondKnop);
    padding-top: 3em;
}

/* danny voorbeeld in de les*/

.hergebruik  {
    justify-content: center;
    margin-left: 0.5em;
    margin-top: 5em;
}

.hergebruik p {
    margin-top: 1em;
}

.hergebruik svg {
    margin-left: 8.5em;
    margin-top: 3em;
    margin-bottom: 3em;
    stroke: lightgreen;
    fill: none;
    max-width: 8em;

    animation-name: rondje;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rondje {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
